<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <immutable_quote>
            <backpressure>
                <enabled>1</enabled>
                <limit>100</limit>
                <period>3600</period>
            </backpressure>
        </immutable_quote>
    </default>
</config>
