<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Logiscenter\ImmutableQuote\Api\Data\QuoteMetadataInterface"
                type="Logiscenter\ImmutableQuote\Model\QuoteMetadata"/>
    <preference for="Logiscenter\ImmutableQuote\Api\ImmutableQuoteManagementInterface"
                type="Logiscenter\ImmutableQuote\Model\ImmutableQuoteManagement"/>
    <preference for="Logiscenter\ImmutableQuote\Api\QuoteMetadataRepositoryInterface"
                type="Logiscenter\ImmutableQuote\Model\QuoteMetadataRepository"/>

    <type name="Magento\Quote\Api\Data\CartInterface">
        <plugin name="immutable_quote_set_metadata"
                type="Logiscenter\ImmutableQuote\Plugin\SetQuoteMetadata"/>
    </type>
    <type name="Magento\Quote\Api\ShippingMethodManagementInterface">
        <plugin name="immutable_quote_filter_shipping_methods"
                type="Logiscenter\ImmutableQuote\Plugin\FilterShippingMethod"/>
    </type>

    <type name="Magento\Framework\App\Backpressure\SlidingWindow\CompositeLimitConfigManager">
        <arguments>
            <argument name="configs" xsi:type="array">
                <item name="immutable-quote-activation" xsi:type="object">
                    Logiscenter\ImmutableQuote\Model\Backpressure\ImmutableQuoteConfigManager
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Webapi\Backpressure\CompositeRequestTypeExtractor">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="immutable-quote" xsi:type="object">
                    Logiscenter\ImmutableQuote\Model\Backpressure\WebapiRequestTypeExtractor
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="Logiscenter\ImmutableQuote\Api\Data\ActionLogInterface"
                type="Logiscenter\ImmutableQuote\Model\ActionLog"/>
    <preference for="Logiscenter\ImmutableQuote\Api\Data\ActionLogSearchResultsInterface"
                type="Logiscenter\ImmutableQuote\Model\ActionLogSearchResults"/>
    <preference for="Logiscenter\ImmutableQuote\Api\ActionLogRepositoryInterface"
                type="Logiscenter\ImmutableQuote\Model\ActionLogRepository"/>

    <virtualType name="ImmutableQuoteErrorLogHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/immutable_quote_error.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="ImmutableQuoteLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">ImmutableQuoteErrorLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Logiscenter\ImmutableQuote\Observer\ActionLogger">
        <arguments>
            <argument name="logger" xsi:type="object">ImmutableQuoteLogger</argument>
        </arguments>
    </type>
    <type name="Logiscenter\ImmutableQuote\Model\ImmutableQuoteManagement">
        <arguments>
            <argument name="logger" xsi:type="object">ImmutableQuoteLogger</argument>
        </arguments>
    </type>
</config>
